<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
    <title>About</title>
    <link rel="icon" href="/img/aboutW.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h3>The app is for forecasting daily {{heading}}</h3>
            <p id="t1">This app is created by Sayan Chatterjee.</p>
            <p id="t6">E-mail: infurio2000@gmail.com</p>
                        <img src="./img/me1.png" class="portrait"> 
        </div>

    <div>{{>footer}}</div>
    </body>
</html>

