<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>404</title>
        <link rel="icon" href="/img/errorW.png">    
    </head>
    <body>
        <div class="main-content"> 
            {{>header}}
            <br>
            <h3>{{message}}</h3>
        </div>

        <div>{{>footer}}</div>
    </body>
</html>
