<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        
    <title>Help</title>
    <link rel="icon" href="/img/helpW.png">
    </head>
    <body>
       <div class="main-content">
        {{>header}}
        <h3>{{purpose}}</h3>
        </div>
        <div>{{>footer}}</div>
    </body>
</html>
